body {
  background: rgb(230, 240, 180);
}
.pure-g {
  margin: 1em 0;
}

a {
  color: blue;
  cursor: pointer;
}
.ui-menu-item a {
  display: block;
}

.fa-ok {
 color: green;
}

.fa-error {
 color: grey;
}

.user-instructions {
    margin-left: 0;
    padding-top: 1em;
    padding-left: 0;
}

.user-instructions li {
    margin-left: 1em;
    padding-bottom: 1em;
}
