<!DOCTYPE html>
<html>
  <head lang="en_gb">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/jquery.autocomplete.js"></script>
    <style>
    {% block style %}
    {% endblock %}
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
