<!DOCTYPE html>
<html>
  <head lang="en_gb">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/jquery.autocomplete.js"></script>
    <style>
      .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
      .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
      .autocomplete-selected { background: #F0F0F0; }
      .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
      .autocomplete-group { padding: 2px 5px; }
      .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
