{% extends "base.html" %}
{% block body %}
<h1>NLP-VLE</h1>
<p>
Welcome to this project {{ userid }}.
<ul>
  {% for value in tasks %}
  <li class="">
    <div>
      {% if value["finished"] %}
        {{ value["name"] }} <span class="fa fa-check-square"></span>
      {% else %}
      <a href="{{ value["method"]  }}">
        {{ value["name"] }} <span class="fa fa-check"></span>
      </a>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
</p>
<a href="{{ logout_view }}">Logout</a>
{% endblock %}
