{% extends "base.html" %}
{% block body %}
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <h1>VIRTUAL LEARNING ENVIRONMENT PROJECT LOGIN</h1>
      <p>
        Log in using the 8-character code provided to you.
        <form id="loginform" method="post">
          <input type="text" name="userid" value=""/>
           <input type="submit" value="Log in">
        </form>
      </p>
      <ul class="user-instructions">
        <li>
            This study consists of 5 exercises, each for 3 types of search interface. 
        </li>
        <li>
            Try to find the answer to the given question using the available interface.
        </li>
        <li>
        If you can't find the correct answer, or want to quit an exercise, 
        click the <i>Abort this exercise</i> button. Then click <i>Complete exercise</i> 
        to go to the next exercise.
        </li>
        <li>
        The study may take you from 5 to 20 minutes to complete.
        </li>
        <li>
        When you have completed the exercises, click the <i>Log out</i> button 
        to return to this page.
        </li>
        <li>
        <a href="https://www.surveymonkey.com/r/BHZ5GV9">Click here</a> to
        respond to the second questionnaire and complete your participation
        in the study.
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
