{% extends "base.html" %}
{% block body %}
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <h1>VIRTUAL LEARNING ENVIRONMENT PROJECT LOGIN</h1>
      <p>
        Welcome to the Virtual Learning Environment project.
      </p>
      <p>
        Log in using the 8-character code provided to you.
        <form id="loginform" method="post">
          <input type="text" name="userid" value=""/>
           <input type="submit" value="Log in">
        </form>
      </p>
    </div>
  </div>
{% endblock %}
