{% extends "base.html" %}

{% block css %}
  {% if autocomplete %}
  .autocomplete-suggestions {
    border: 1px solid #999; background: #FFF; overflow: auto;
  }

  .autocomplete-suggestion {
    padding: 2px 5px; white-space: nowrap; overflow: hidden;
  }

  .autocomplete-selected {
    background: #F0F0F0;
  }

  .autocomplete-suggestions strong {
    font-weight: normal; color: #3399FF;
  }

  .autocomplete-group { padding: 2px 5px; }

  .autocomplete-group strong {
    display: block; border-bottom: 1px solid #000;
  }

  .ui-menu {
    width: 150px;
  
  }
  {% endif %}
{% endblock %}

{% block javascript %}
  $(document).ready(function() {
    $("#navigation-menu").menu()
  });

  var register_click = function(link) {
    console.log(link)
    $("#surveyform #link").val(link)
    $("#surveyform #stats").val("somestats")
    $("#surveyform").submit()
  };
{% endblock %}

{% block body %}
  <form id="surveyform" method="post" action="results">
    <input type="hidden" name="userid" value="{{ }}"/>
    <input type="hidden" name="desired" value="{{ }}">
    <input type="hidden" name="task_type" value="{{ }}"/>
    <input type="hidden" name="iteration" value="{{  }}"/>
    <input type="hidden" id="link" name="link"/>
    <input type="hidden" id="stats" name="stats"/>
  </form>
  <div class="search">
    <h1>Search-navigation</h1>
      <div class="">
        <ul id="navigation-menu">
        {% for key in categories recursive %}
        <li class="">
          <div>{{ key }}</div>
            <ul class="">
              {% for a in categories[key] %}
              <li><div>{{ a }}</div>
                <ul class="">
                  {% for b in categories[key][a] %}
                    <li><div>{{ b }}</div>
                    <ul class="">
                      {% for c in categories[key][a][b] %}
                      <li><div><a onclick="register_click('{{ categories[key][a][b][c] }}')">{{ c }}</a></div>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
      </div>
  </div>
  <!--form method="post" action="" style="display:none;">
    Query: <input id="query" type="text" name="query" value="{{ query or "" }}">
    <input type="submit" value="Search">
  </form-->
  {% if results %}
    <h2>Hits</h2>
    <div class="results">
      <table>
      {% for score, url, title, excerpt in results %}
        <tr>
          <td>{{ "%0.3f" % score }}</td>
          <td><a href="{{ url }}">{{ title }}: {{ excerpt }}</a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}
