{% extends "base.html" %}

{% block css %}
  .ui-menu {
    width: 250px;
  }
{% endblock %}

{% block javascript %}
  $(document).ready(function() {
    $("#navigation-menu").menu()
  });

  var search_events = []
  $("html").mousedown(function(ev) {
    event = {
      link: ev.target.textContent,
      x_pos: ev.pageX,
      y_pos: ev.pageY,
      timestamp: ev.timeStamp,
    }
    console.log(ev)
    search_events.push(event);
  });
  var register_click = function(link) {
    $("#surveyform #link").val(link)
    $("#surveyform #stats").val(JSON.stringify(search_events))
    $("#surveyform").submit()
  };
{% endblock %}

{% block body %}
<form id="surveyform" method="post" action="{{ results_view }}">
    <input type="hidden" id="link" name="link"/>
    <input type="hidden" id="stats" name="stats"/>
  </form>
  <div class="search">
    <h1>{{ title }}</h1>
    <h3>{{ task["text"] }}</h3>
      <div class="">
        <ul id="navigation-menu">
        {% for key, value in categories.items() recursive %}
        <li class="">
          {% if value is string %}
          <div><a onclick="register_click('{{ value }}')">{{ key }}
              <span class="fa fa-external-link"></span>
            </a>
          </div>
          {% else %}
          <div>{{ key }}</div>
            <ul class="">
              {{ loop(value.items()) }}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
        </ul>
      </div>
  </div>
  {% if results %}
    <h2>Hits</h2>
    <div class="results">
      <table>
      {% for score, url, title, excerpt in results %}
        <tr>
          <td>{{ "%0.3f" % score }}</td>
          <td><a href="{{ url }}">{{ title }}: {{ excerpt }}</a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}
