{% extends "test_base.html" %}

{% block css %}
  .ui-menu {
    width: 250px;
  }
{% endblock %}

{% block test_javascript %}
  $(document).ready(function() {
  $("#navigation-menu").menu({
    position: {collision: "fit"}
  })
  });
{% endblock %}

{% block test_block %}
  <div class="search">
    <h1>{{ title }}</h1>
    <h3>{{ task.text }}</h3>
      <div class="">
        <ul id="navigation-menu">
        {% for key, value in categories.items() recursive %}
        <li class="">
          {% if value is string %}
          <div><a onclick="register_click('{{ value }}')">{{ key }}
              <span class="fa fa-external-link"></span>
            </a>
          </div>
          {% else %}
          <div>{{ key }}</div>
            <ul class="">
              {{ loop(value.items()) }}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
        </ul>
      </div>
  </div>
</form>
{% endblock %}
