{% extends "test_base.html" %}

{% block css %}
  {% if autocomplete %}
  .autocomplete-suggestions {
    border: 1px solid #999; background: #FFF; overflow: auto;
  }

  .autocomplete-suggestion {
    padding: 2px 5px; white-space: nowrap; overflow: hidden;
  }

  .autocomplete-selected {
    background: #F0F0F0;
  }

  .autocomplete-suggestions strong {
    font-weight: normal; color: #3399FF;
  }

  .autocomplete-group { padding: 2px 5px; }

  .autocomplete-group strong {
    display: block; border-bottom: 1px solid #000;
  }
  #query {
    width: 500px;
  }
  {% endif %}
{% endblock %}

{% block test_javascript %}
  $(document).ready(function() {
    $("#query").focus();
    $("#query").val($("#query").val());
  });
{% endblock %}

{% block test_block %}
  <div class="search">
    <h1>{{ title }}</h1>
    <h3>{{ task.text }}</h3>
    <form method="post" action="">
      Query: <input id="query" type="text" name="query" value="{{ query or "" }}">
      <input type="hidden" id="stats2" class="test_stats" name="stats"/>
      <input type="submit" value="Search" onclick="fill_form()">
    </form>
    {% if autocomplete %}
    <script type="text/javascript">
      $("#query").autocomplete({
        serviceUrl: "/autocomplete",
        noCache: true,
      });
    </script>
    {% endif %}
  </div>
{% endblock %}
