{% extends "base.html" %}

{% block css %}
  {% if autocomplete %}
  .autocomplete-suggestions {
    border: 1px solid #999; background: #FFF; overflow: auto;
  }

  .autocomplete-suggestion {
    padding: 2px 5px; white-space: nowrap; overflow: hidden;
  }

  .autocomplete-selected {
    background: #F0F0F0;
  }

  .autocomplete-suggestions strong {
    font-weight: normal; color: #3399FF;
  }

  .autocomplete-group { padding: 2px 5px; }

  .autocomplete-group strong {
    display: block; border-bottom: 1px solid #000;
  }
  #query {
    width: 500px;
  }
  {% endif %}
{% endblock %}

{% block javascript %}
  $(document).ready(function() {
    $("#query").focus();
    $("#query").val($("#query").val());
  });
{% endblock %}

{% block body %}
  <div class="search">
    <h1>Search</h1>
    <form method="post" action="">
      Query: <input id="query" type="text" name="query" value="{{ query or "" }}">
      <input type="submit" value="Search">
    </form>
    {% if autocomplete %}
    <script type="text/javascript">
      $("#query").autocomplete({
        serviceUrl: "/autocomplete",
        noCache: true,
      });
    </script>
    {% endif %}
  </div>
  {% if results %}
    <h2>Hits</h2>
    <div class="results">
      <table>
      {% for score, url, title, description, category in results %}
        <tr>
          <td>{{ "%0.3f" % score }}</td>
          <td><a href="{{ url }}">{{ title }}: {{ description }} {{category}}</a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}
